<!DOCTYPE html>
<html>
<head>
  <title>Put a Frame On It</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript">
    <%- if Rails.env.production? -%>
      Stripe.setPublishableKey('pk_ODjPUTzYUL3MTi36xMUFrtrwn76op');
    <%- else -%>
      Stripe.setPublishableKey('pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj');
    <%- end -%>
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27155319-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' :  'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <%= csrf_meta_tags %>
  <%= yield :head -%>
</head>
<body>

<%= yield %>

</body>
</html>
